@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import "tailwindcss";

@theme {
    /* 폰트 설정 */
    --font-pretendard: "Pretendard", ui-sans-serif, system-ui, sans-serif;

    /* 로고에서 추출한 ENSUE 전용 컬러 */
    --color-ensue-blue: #00A6E1;
    --color-ensue-green: #8CC63F;
    --color-ensue-dark: #414042;
}

@layer base {
    body {
        font-family: var(--font-pretendard);
        @apply bg-white;
    }
}